body {
}

#page {
  display: flex;
  justify-content: center;
  width: 100%;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#container {
  border: solid;
  display: grid;
  grid-template-columns: repeat(16, auto);
  row-gap: 0;
}

#sketch {
  border: solid;
  border-color: pink;
  width: 20px;
  height: 20px;
}

.drawn {
  background-color: black;
}
#button {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
button {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100px;
  border-radius: 5px;
}
