#page {
  display: flex;
  justify-content: center;
  width: 100%;

  margin: 0;
  position: relative;
  top: 100px;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}
#container {
  border: solid;
  display: flex;
  flex-wrap: wrap;
  max-width: 422px;
  max-height: 422px;
  row-gap: 0px;
}

#button {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
}
button {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100px;
  border-radius: 5px;
}
#topBanner {
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 50px;
}
