body {
}

#page {
  display: flex;
  justify-content: center;
  width: 100%;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#container {
  border: solid;
  display: flex;
  flex-wrap: wrap;
  max-width: 422px;
  max-height: 422px;
  row-gap: 0px;
}

#button {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
button {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100px;
  border-radius: 5px;
}
